<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Olimpo Kennel</title>
    <% include partials/head.html %>

</head>

<body>
    <% include partials/navigation.html %>
    <video src="/images/horus.mp4" width="100%" height="auto" autoplay muted loop></video>
    <section>
        <div class="container pl-5  pr-5 mt-3 ">
            <h2 class="mx-5" style="font-style: italic; text-align: left;"><strong>Quienes Somos!</strong></h2>
        </div>
        <div class="container-fluid row mt-3">
            <div class="col-lg-5 col-md-5">
                <div class="row mt-3"  >
                    <div id="carouselExampleControls2" class="carousel slide mx-5" style="border:solid #f68b1f 3px" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="images/sliderolimpo4.jpg" class="d-block w-100" alt="sliderolimpo3" width="auto" height="auto">
                            </div>
                            <div class="carousel-item">
                                <img src="images/argos.jpg" class="d-block w-100" alt="sliderolimpo2" width="auto">
                            </div>
                            <div class="carousel-item">
                                <img src="images/argosukc.jpg" class="d-block w-100" alt="sliderolimpo1" width="500" height="auto">
                            </div>
                            <div class="carousel-item">
                                    <img src="images/argos3.jpg" class="d-block w-100" alt="sliderolimpo1" width="500" height="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-7 text-justify mt-3">
                <p class="lead-text" style="font-style: italic; font-size: 15px; color: rgb(19, 18, 18);"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sunt, corporis doloribus vero obcaecati reprehenderit, distinctio blanditiis molestiae debitis impedit culpa cum hic quod nostrum fugiat laborum quis alias consequatur.</strong></p>
                <br>
                <p class="body-text text-color-darkgray" style="font-style: italic;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim officiis beatae ab natus, eos sequi nobis delectus nam, a praesentium odit fugit. Quo quos alias esse ipsa iste perferendis nulla?</p>
                <br>
                <p class="" style="font-style: italic;">Nuestra cría se basa en las mejores líneas de sangre en Panama y se programan y seleccionan cruces.</p>
                <br>                    
                <p class="" style="font-style: italic;">Nuestros perros tienen un control veterinario permanente y reciben las mejores raciones del mercado, lo que les proporciona todas las condiciones que necesitan para tener un buen desarrollo y una vida saludable.</p>
                <br>
                <p class="" style="font-style: italic;"> Nuestra estructura fue diseñada cuidadosamente, con el objetivo de satisfacer las necesidades de la raza, con perreras, maternidades, potreros y adornos, etc.</p>
            </div>
            
        </div>
        
    </section>
    <% include partials/footer.html %>
</body>

</html>