<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Constructora M.A/Contact</title>
    <% include partials/head.html %>

</head>

<body>
    <% include partials/navigation.html %>
    <img src="images/valores.jpg" alt="img services" width="100%" height="500px">
    <h4 class="semb-val"><STRONg>Sembrando valores!</STRONg></h4>
    <div class="container pl-5  pr-5 mt-3 ">
        <h2 class="text-center"><strong>ACERCA DE LA EMPRESA</strong></h2>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est repellat assumenda sint quas. Culpa magnam quasi laboriosam repellat, optio expedita distinctio aspernatur vel sunt dolorem voluptatum quam quia! Laudantium, cumque.</p>
    </div>
    <!--Section mision, vision y valores-->

    <div class="row pl-5  pr-5 text-center">
        <div class="col-md-4 card mt-3" style="display: inline; border: none">
            <img src="images/mision.png" alt="Mision de la empresa" width="50%" height="auto%">
            <div class="card-body">
                <h5 class="card-title"><strong>MISIÒN</strong></h5>
                <p class="text-justify m-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores saepe quaerat facere eius excepturi quae ex, dolorum necessitatibus sed libero, vel totam eligendi. Quidem ut recusandae obcaecati! Fuga, exercitationem repellat.</p>
            </div>
        </div>
        <div class="col-md-4 card mt-3" style="display: inline; border: none">
            <img src="images/vision.svg" alt="vision de la empresa" width="50%" height="auto%">
            <div class="card-body">
                <h5 class="card-title"><strong>VISIÒN</strong></h5>
                <P class="text-justify m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nesciunt culpa voluptates fugit modi? Possimus deleniti tempore nam ullam maiores blanditiis delectus, vero ab iste fugiat debitis officia eligendi odio.</P>
            </div>
        </div>
        <div class="col-md-4 card mt-3" style="display: inline; border: none">
            <img src="images/valores.png" alt="imagen valores" width="50%" height="auto%">
            <div class="card-body">
                <h5 class="card-title"><strong>VALORES</strong></h5>
                <P class="text-justify m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur impedit fugiat molestias voluptatem laudantium hic praesentium cupiditate nostrum. Hic esse aliquam distinctio molestias, non aliquid harum sapiente in amet commodi!</P>
            </div>
        </div>
    </div>
    <% include partials/footer.html %>
</body>

</html>