<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Olimpo kennel</title>
    <% include partials/head.html %>
</head>
<body>
    <% include partials/navigation.html %>
    <!--SECTION TOP IMAGEN-->
    <br><br><br>
    <img src="/images/horus.jpg" alt="img services" width="100%" height="500px">
    <section class="container srv_cards mt-3">
        <div class="container">
            <h2 class="text-center" style="font-family: 'Times New Roman', Times, serif;"><strong>Nuestras Camadas</strong></h2>
            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ducimus quaerat porro quae illo eius quidem et a iste qui repellat tenetur similique, ipsam, vitae ex ratione deserunt iure aut.</p>
            <div class="row">
                <div class="content col-lg-6 col-md-6 mt-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-4">
                            <img src="/images/atlas.jpg" alt="horus Macho" width="100%" height="300px">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-8">
                            <div class="col-md-6 col-sm-6 ml-3 mt-3">
                                <h5 class="main-title">Atlas del Olimpo</h5>
                                <h6>Macho</h6>
                                <h6>Gran champion Panama</h6>
                                <p>competencia en panama</p>
                                <a href="#" class="btn "><h5><strong>Pedigree </strong><i class="fa fa-angle-double-right"></i></a></h5>
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="content col-lg-6 col-md-6 mt-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-4">
                            <img src="/images/spartanus.jpg" alt="horus Macho" width="100%" height="300px">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-8">
                            <div class="col-md-6 col-sm-6 ml-3 mt-3">
                                <h5 class="main-title">Spartanus del Olimpo</h5>
                                <h6>Hembra</h6>
                                <h6>Gran champion Panama</h6>
                                <p>competencia en panama</p>
                                <a href="#" class="btn "><h5><strong>Pedigree </strong><i class="fa fa-angle-double-right"></i></a></h5> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content col-lg-6 col-md-6 mt-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-4">
                            <img src="/images/tartaro.jpg" alt="horus Macho" width="100%" height="300px">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-8">
                            <div class="col-md-6 col-sm-6 ml-3 mt-3">
                                <h5 class="main-title">Tartaro del Olimpo</h5>
                                <h6>Hembra</h6>
                                <h6>Gran champion Panama</h6>
                                <p>competencia en panama</p>
                                <a href="#" class="btn "><h5><strong>Pedigree </strong><i class="fa fa-angle-double-right"></i></a></h5> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content col-lg-6 col-md-6 mt-3">
                    <div class="row card_index">
                        <div class="card col-lg-6 col-md-6 col-sm-4">
                            
                            <img src="/images/ares.jpg" id="myImg" alt="horus Macho" width="100%" height="300px">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-8">
                            <div class="col-md-6 col-sm-6 ml-3 mt-3">
                                <h5 class="main-title">Ares del Olimpo</h5>
                                <h6>Macho</h6>
                                <h6>Gran champion Panama</h6>
                                <p>competencia en panama</p>
                                <a href="#" class="btn "><h5><strong>Pedigree </strong><i class="fa fa-angle-double-right"></i></a></h5> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content col-lg-6 col-md-6 mt-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-4">
                            <img src="/images/typhon.jpg" alt="horus Macho" width="100%" height="300px">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-8">
                            <div class="col-md-6 col-sm-6 ml-3 mt-3">
                                <h5 class="main-title">Typhon del Olimpo</h5>
                                <h6>Macho</h6>
                                <h6>Gran champion Panama</h6>
                                <p>competencia en panama</p>
                                <a href="#" class="btn "><h5><strong>Pedigree </strong><i class="fa fa-angle-double-right"></i></a></h5> 
                            </div>
                        </div>
                    </div>
                </div>
                
                <a id="verimagenes" class='fresco' data-fresco-group='grupo'></a>
                <script>
                    $(document).ready(function(){
                    //Al hacer clic en cualquier img ejecutamos la acción
                    $('.content img').click(function() {
	                //Capturamos el src de la img
	                var postimg= $(this).attr('src');
	                //Agregamos el src a una href simbólico
	                $('#verimagenes').attr('href',postimg);
	                //Hacemos clic en el enlace para activar el visor
        	        $('#verimagenes').click();
                            });});
                </script>
            </div>
        </div>

        <div class="container mt-5">
            <h2 class="text-center"> Camadas Disponibles</h2>
                <div class="row">
                    <div class="col-lg-12 col-md-12 mt-3">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <img src="/images/horus.jpg" alt="horus Macho" width="100%" height="100%">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-8">
                                <img src="/images/x.png" alt="" width="100%">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <img src="/images/troya.jpg" alt="horus Macho" width="100%" height="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section >
    
    <% include partials/footer.html %>
</body>