<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Olimpo kennel</title>
    <% include partials/head.html %>
</head>

<body>
    <% include partials/navigation.html %>
        <img src="images/exposicion.jpg" alt="img services" width="100%" height="600px">
        <div class="container mt-3">
            <h1 class="text-center"><strong>EXPOSICIONES</strong></h1>
        </div>
        <!--section exposiciones-->

        <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-4">
                  <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Expo 1</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <img src="images/sliderolimpo1.jpg" class="card-img-top" alt="imagen1.">
                    <div class="card-body">
                      <h5 class="card-title">Expo 2</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Expo 3</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card">
                    <img src="images/sliderolimpo2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Expo 4</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                  </div>
                </div>
              </div>
        
        <% include partials/footer.html %>
</body>
</html>