<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Olimpo kennel</title>
    <% include partials/head.html %>
</head>

<body>
  <% include partials/navigation.html %>
  <video class="mt-5" src="/images/showabkc1.mp4" width="100%" height="auto" autoplay muted loop></video>
  <div class="container mt-3">
    <h1 class="text-center"><strong>EXPOSICIONES</strong></h1>
  </div>
<!--section exposiciones-->

  <div class="row mt-3">
    <div class="col-md-3">
              <div class="prueba nav flex-column nav-pills text-center m-3" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="font-family: 'Times New Roman', Times, serif;">
                  <a class="nav-link bg-info text-white" id="v-pills-iniciados-tab" data-toggle="pill" href="#v-pills-expo1" role="tab" aria-controls="v-pills-expo1" aria-selected="true"><h4><strong>Exposicion 1</strong></h4></a>
                  <a class="nav-link text-white bg-info mt-3" id="v-pills-terminados-tab" data-toggle="pill" href="#v-pills-expo2" role="tab" aria-controls="v-pills-expo2" aria-selected="false"><h4><strong>Exposicion 2</strong></h4></a>
                  <a class="nav-link bg-info text-white mt-3" id="v-pills-prueba-tab" data-toggle="pill" href="#v-pills-expo3" role="tab" aria-controls="v-pills-expo3" aria-selected="true"><h4><strong>Exposicion 3</strong></h4></a>
              </div>
    </div>

    <div class="col-md-9">
            <div class="tab-content m-3" id="v-pills-tabContent">
              <div class="tab-pane fade" id="v-pills-expo1" role="tabpanel" aria-labelledby="v-pills-iniciados-tab">
                    <div class="container row">
                      <h2 class="container text-center"><strong style="font-style: italic;">Competencias destacadas 2016</strong></h2>
                      <p class="text-justify mt-3 mx-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusantium error, architecto itaque laborum eum, saepe distinctio eos ducimus officiis qui libero harum a possimus. Voluptatibus quia cum optio necessitatibus.</p>
                      <div class="content row card_index ml-auto">
                        <div class="col-lg-6 col-md-4 col-sm-8 mt-3">
                          <div class="card">
                            <img src="images/card2.jpg" class="card-img-top" alt="..." width="100%" height="350px">
                            <div class="card-body">
                              <h5 class="card-title">Expo 1</h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                          </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-4 col-sm-8 mt-3">
                          <div class="card">
                            <img src="images/sliderolimpo1.jpg" class="card-img-top" alt="imagen1."  width="100%" height="350px">
                            <div class="card-body">
                              <h5 class="card-title">Expo 2</h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-6 col-md-4 col-sm-8 mt-3">
                          <div class="card">
                            <img src="/images/card1.jpg" class="card-img-top" alt="..."  width="100%" height="350px">
                            <div class="card-body">
                              <h5 class="card-title">Expo 3</h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            </div>
                          </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-4 col-sm-8 mt-3">
                          <div class="card">
                            <img src="images/sliderolimpo2.jpg" class="card-img-top" alt="..."  width="100%" height="350px">
                            <div class="card-body">
                              <h5 class="card-title">Expo 4</h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>                            
              </div>

              <div class="tab-pane fade" id="v-pills-expo2" role="tabpanel" aria-labelledby="v-pills-prueba-tab">
                    <div class="container row">
                      <h2 class="container text-center"><strong style="font-style: italic;">Competencias destacadas 2018</strong></h2>
                      <p class="text-justify mt-3 mx-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusantium error, architecto itaque laborum eum, saepe distinctio eos ducimus officiis qui libero harum a possimus. Voluptatibus quia cum optio necessitatibus.</p>
                      <div class="content row card_index ml-auto">
                        <div class="col-lg-6 col-md-4 col-sm-8 mt-3">
                          <div class="card">
                            <img src="images/card2.jpg" class="card-img-top" alt="..." width="100%" height="350px">
                            <div class="card-body">
                              <h5 class="card-title">Expo 1</h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                          </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-4 col-sm-8 mt-3">
                          <div class="card">
                            <img src="images/sliderolimpo1.jpg" class="card-img-top" alt="imagen1."  width="100%" height="350px">
                            <div class="card-body">
                              <h5 class="card-title">Expo 2</h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-6 col-md-4 col-sm-8 mt-3">
                          <div class="card">
                            <img src="/images/card1.jpg" class="card-img-top" alt="..."  width="100%" height="350px">
                            <div class="card-body">
                              <h5 class="card-title">Expo 3</h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            </div>
                          </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-4 col-sm-8 mt-3">
                          <div class="card">
                            <img src="images/sliderolimpo2.jpg" class="card-img-top" alt="..."  width="100%" height="350px">
                            <div class="card-body">
                              <h5 class="card-title">Expo 4</h5>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>  
              </div>

              <div class="tab-pane fade show active" id="v-pills-expo3" role="tabpanel" aria-labelledby="v-pills-terminados-tab">
                      <div class="container row">
                        <h2 class="container text-center"><strong style="font-style: italic;">Competencias destacadas 2019</strong></h2>
                        <p class="text-justify mt-3 mx-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora accusantium error, architecto itaque laborum eum, saepe distinctio eos ducimus officiis qui libero harum a possimus. Voluptatibus quia cum optio necessitatibus.</p>
                        <div class="content row card_index ml-auto">
                          <div class="col-lg-6 col-md-4 col-sm-8 mt-3">
                            <div class="card">
                              <img src="images/card2.jpg" class="card-img-top" alt="..." width="100%" height="350px">
                              <div class="card-body">
                                <h5 class="card-title">Expo 1</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              </div>
                            </div>
                          </div>
                          
                          <div class="col-lg-6 col-md-4 col-sm-8 mt-3">
                            <div class="card">
                              <img src="images/sliderolimpo1.jpg" class="card-img-top" alt="imagen1."  width="100%" height="350px">
                              <div class="card-body">
                                <h5 class="card-title">Expo 2</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              </div>
                            </div>
                          </div>

                          <div class="col-lg-6 col-md-4 col-sm-8 mt-3">
                            <div class="card">
                              <img src="/images/card1.jpg" class="card-img-top" alt="..."  width="100%" height="350px">
                              <div class="card-body">
                                <h5 class="card-title">Expo 3</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                              </div>
                            </div>
                          </div>
                          
                          <div class="col-lg-6 col-md-4 col-sm-8 mt-3">
                            <div class="card">
                              <img src="images/sliderolimpo2.jpg" class="card-img-top" alt="..."  width="100%" height="350px">
                              <div class="card-body">
                                <h5 class="card-title">Expo 4</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>    
              </div>

              <a id="verimagenes" class='fresco' data-fresco-group='grupo'></a>
							<script>
                $(document).ready(function(){
                //Al hacer clic en cualquier img ejecutamos la acción
                $('.content img').click(function() {
                //Capturamos el src de la img
                var postimg= $(this).attr('src');
                //Agregamos el src a una href simbólico
                $('#verimagenes').attr('href',postimg);
                //Hacemos clic en el enlace para activar el visor
                $('#verimagenes').click();
                    });});
							</script>
          </div>  
    </div>
  </div>      
        
  <% include partials/footer.html %>
</body>
</html>