<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Olimpo kennel</title>
    <% include partials/head.html %>
</head>

<body>
    <% include partials/navigation.html %>
    <!--SECTION TOP IMAGEN-->
    <img src="/images/services.jpg" alt="img services" width="100%" height="500px">

    <!--SECTION SERVICES CARD-->
    <section class="container mt-3 srv_cards  m-auto">
        <div class="" id="servicessection">
            <h2 class="text-center">
                <STROng>NUESTROS SERVICIOS</STROng>
            </h2>
            <div class="row mt-3">
                <div class="col-md-3">
                    <div class="nav flex-column nav-pills m-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link bg-info text-white" id="v-pills-iniciados-tab" data-toggle="pill" href="#v-pills-iniciados" role="tab" aria-controls="v-pills-iniciados" aria-selected="true">just pet grooming</a>
                        <a class="nav-link active text-white bg-info mt-3" id="v-pills-terminados-tab" data-toggle="pill" href="#v-pills-terminados" role="tab" aria-controls="v-pills-terminados" aria-selected="false">Professional Handler</a>
                        <a class="nav-link bg-info text-white mt-3" id="v-pills-prueba-tab" data-toggle="pill" href="#v-pills-prueba" role="tab" aria-controls="v-pills-prueba" aria-selected="true">Kennel Dog</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content m-3" id="v-pills-tabContent">

                        <div class="tab-pane fade" id="v-pills-iniciados" role="tabpanel" aria-labelledby="v-pills-iniciados-tab">
                            <div class="row add-vertical-spacing">
                                <div class="col-lg-4 col-md-4">
                                    <img src="images/justpetgrooming.png" alt="">
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <h2 class="text-center">
                                        <strong>Just pet grooming</strong>
                                    </h2>
                                    <br>
                                    <p>En Just Pets Grooming siempre informamos a nuestros clientes sobre en qué consiste, el por qué se debe hacer y el por qué es un trabajo más costoso.</p>
                                </div>
                            </div>                           
                        </div>

                        <div class="tab-pane fade" id="v-pills-prueba" role="tabpanel" aria-labelledby="v-pills-prueba-tab">
                            <div class="row add-vertical-spacing">
                                <div class="col-lg-4 col-md-4">
                                    <img src="images/horus.jpg" alt="">
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <h2 class="text-center">
                                        <strong>Kennel Dog</strong>
                                    </h2> 
                                    <br>
                                    <p>
                                        Nuestra cría se basa en las mejores líneas de sangre en Psnama y se programan y seleccionan cruces.
                                        Nuestros perros tienen un control veterinario permanente y reciben las mejores raciones del mercado, lo que les proporciona todas las condiciones que necesitan para tener un buen desarrollo y una vida saludable.
                                        Nuestro objetivo es producir Pit Bulls cada vez más ideales, con excelente estructura, temperamento apropiado, agilidad y carisma.
                            
                                    </p>
                                </div>
                            </div> 
                        </div>

                        <div class="tab-pane fade show active" id="v-pills-terminados" role="tabpanel" aria-labelledby="v-pills-terminados-tab">
                            <div class="row add-vertical-spacing">
                                <div class="col-lg-4 col-md-4">
                                    <img src="images/handler.jpg" alt="" width="100%">
                                </div>

                                <div class="col-lg-8 col-md-8 col-sm-8">
                                    <h2 class="text-center">
                                        <strong>Professional Handler</strong>
                                    </h2>
                                    <br>
                                    <p class="text*aling-center">
                                        Los manejadores profesionales han jugado históricamente un papel importante en los deportes y eventos caninos. Muchos propietarios confían en la experiencia de los manejadores profesionales en el cuidado, acondicionamiento y presentación de perros. Para aquellos que usan los servicios de un guía, la experiencia y la educación del profesional pueden significar la diferencia en la presentación y, lo más importante, el cuidado y la protección de su perro.
                                        <br>
                                        Los verdaderos profesionales hacen que el bienestar de los perros a su cuidado sea una prioridad fundamental; son justos, honestos y transparentes en las prácticas comerciales; y comportarse de una manera deportiva, todos los estándares que el Programa de controladores registrados de AKC describe en su Código de ética , que es la base del Programa de controladores registrados.
                                    </p>
                                </div>
                            </div>    
                        </div>
                </div>
            </div>
        </div>
    <!--SECTION CONTACT OFERTA-->
        <div class="">
                <div class="text-center">
                    <img class="p-3" src="images/logo.png" width="70%" style="border-radius:70px ">
                    <h2 class="mt-5"><strong>NUESTRA OFERTA</strong></h2>
                    <p>Contamos con el equipo humano mas cualificado y la maquinaria necesaria para abarcar todos los aspectos que refieren a una obra de construcción, además de una amplia trayectoria que nos avala y nos posiciona como una de las empresas mas serias del sector.</p>
                </div>
                <div class="text-center">
                    <a class="btn btn-dark" style="font-size: 20px" href="contact">CONTACTANOS PARA MAS INFORMACION</a>
                </div>
            </div>
    </section>
    <% include partials/footer.html %>
</body>

</html>