<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Olimpo kennel</title>
    <% include partials/head.html %>
</head>

<body>
    <% include partials/navigation.html %>
    <!--SECTION TOP IMAGEN-->
    
    <div class="img_top-services col-xl-12 col-lg-12 col-md-12 col-sm-12">
        
        <img src="/images/services.jpg" alt="img services" width="100%" height="auto">
    </div>
   
    <!--SECTION SERVICES CARD-->
    <a class="ir-arriba" title="Volver arriba">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <section class="container mt-3 srv_cards">
        <div class="" id="servicessection">
            <h2 class="text-center">
                <STROng>NUESTROS SERVICIOS</STROng>
                <span class="ir-arriba icon-arrow-up2"></span>

            </h2>
            <div class="row mt-3">
                <div class="col-md-3">
                    <div class="prueba nav flex-column nav-pills m-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class=" nav-link bg-info text-white" id="v-pills-iniciados-tab" data-toggle="pill" href="#v-pills-iniciados" role="tab" aria-controls="v-pills-iniciados" aria-selected="true">JUST PET GROOMING</a>
                        <a class="nav-link text-white bg-info mt-3" id="v-pills-terminados-tab" data-toggle="pill" href="#v-pills-terminados" role="tab" aria-controls="v-pills-terminados" aria-selected="false">PROFESSIONAL HANDLER</a>
                        <a class="nav-link bg-info text-white mt-3" id="v-pills-prueba-tab" data-toggle="pill" href="#v-pills-prueba" role="tab" aria-controls="v-pills-prueba" aria-selected="true">KENNEL DOG</a>
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="tab-content m-3" id="v-pills-tabContent">
                        <div class="tab-pane fade" id="v-pills-iniciados" role="tabpanel" aria-labelledby="v-pills-iniciados-tab">
                            <div class="row add-vertical-spacing">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                    <img src="images/justpetgrooming.png" alt="jose camargo"  width="100%" height="auto" >
                                </div>

                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 text-center">
                                    <h2>
                                        <strong>Just pet grooming</strong>
                                    </h2>
                                    <p class="text-justify"><strong>ESTÉTICA</strong> Canina especializada en mantener en un excelente estado el manto de los  perros, garantizando su bienestar higiénico y saludable, dándole un estilo acorde con su raza.
                                        Ofrecemos un servicio que abarca todo lo que tiene que ver con el Baño, Trimming (corte de pelo de acuerdo al  Standard de raza, o conformación física) que puede ser a máquina, a tijeras  y  mano (Stripping).
                                      <br><br> Hidratramos, mejoramos y mantenemos en buen estado el pelo y piel de un ejemplar. Nuestro servicio es a Domicilio</p>
                                </div>
                            </div>                           
                        </div>

                        <div class="tab-pane fade" id="v-pills-prueba" role="tabpanel" aria-labelledby="v-pills-prueba-tab">
                            <div class="row add-vertical-spacing">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <img src="images/argoskennelt.jpeg" alt="Kennel Dog" width="100%" height="auto">
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-center">
                                    <h2>
                                        <strong>Kennel Dog</strong>
                                    </h2> 
                                    <p class="card-text text-justify">Nuestra cría se basa en las mejores líneas de sangre en Panamá. Trabajamos en base a la <strong>cría selectiva</strong>, coordinamos nuestros cruces. 
                                        <br><br>  Nuestros ejemplares mantienen un control veterinario permanente y reciben los mejores tratos, alimentación y cuidados, lo que les proporciona todas las condiciones que necesitan para tener un buen desarrollo y una vida saludable. 
                                        <br><br>  Nuestro objetivo es producir<strong> AMERICAN PITBULL TERRIER</strong> cada vez más ideales, con excelente estructura, y temperamento.
                                        <br><br>  Seleccionamos nuestros compradores, preferiblemente personas interesadas en participar en exposiciones caninas, trabajamos con contratos legales para evitar actos de crueldad.
                                    </p>
                                </div>
                            </div> 
                        </div>

                        <div class="tab-pane fade show active" id="v-pills-terminados" role="tabpanel" aria-labelledby="v-pills-terminados-tab">
                            <div class="row add-vertical-spacing">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                                    <img src="images/handler.jpg" alt="Kennel Dog" width="100%" height="auto">
                                </div>

                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-center">
                                    <h2>
                                        <strong>Professional Handler</strong>
                                    </h2>
                                    <p class="card-text text-justify">La formación continua, gracias a la suma de la experiencia y de los conocimientos que serán la base para poder llegar a ser el equipo perfecto dentro de una pista de show.
                                        <br><br> Armamos con <strong>constancia y amor</strong> nuestro trabajo  por lo que nos hace, saber coordinar  una campaña de campeonato para un ejemplar. 
                                        <br><br> Nuestro servicio de Handling y preparación para show, tiene número de ejemplares  limitados.</p>
                                </div>
                            </div>    
                        </div>
                </div>
                </div>
            </div>
    <!--SECTION CONTACT OFERTA-->
        <div class="">
                <div class="text-center">
                    <h2 class="mt-5"><strong>NUESTRA OFERTA</strong></h2>
                    <p class="text-justify">Un espacio para presentarles al público un equipo completo y profesional  ofreciendo un servicio excepcional en mantenimientos, cuidados, preparaciones para show, Handling y ejemplares de gran calidad</p>
                </div>
                <div class="row">
                    <div class="col-lg-6 p-3 text-center">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/3dGNuB0TnAk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                    </div>
                    <div class="col-lg-6 text-center">
                        <img class="p-3" src="images/logo.png" width="70%" style="border-radius:70px ">
                    </div>
                </div>
                <div class="text-center mt-5">
                    <a class="btn btn-dark" style="font-size: 20px; width: auto;" href="contact">MAS INFORMACIóN</a>
                </div>
            </div>
    </section>
    <% include partials/footer.html %>
</body>
</html>