<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Olimpo kennel</title>
    <% include partials/head.html %>
</head>

<body>
    <% include partials/navigation.html %>
    <!--SECTION TOP IMAGEN-->
    <img src="/images/services.jpg" alt="img services" width="100%" height="500px">

    <!--SECTION SERVICES CARD-->
    <section class="container mt-3 srv_cards  m-auto">
        <div class="" id="servicessection">
            <h2 class="text-center">
                <STROng>NUESTROS SERVICIOS</STROng>
            </h2>
            <div class="row mt-3">
                <div class="col-md-3">
                    <div class="nav flex-column nav-pills m-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link bg-info text-white" id="v-pills-iniciados-tab" data-toggle="pill" href="#v-pills-iniciados" role="tab" aria-controls="v-pills-iniciados" aria-selected="true">just pet grooming</a>
                        <a class="nav-link active text-white bg-info mt-3" id="v-pills-terminados-tab" data-toggle="pill" href="#v-pills-terminados" role="tab" aria-controls="v-pills-terminados" aria-selected="false">Professional Handler</a>
                        <a class="nav-link bg-info text-white" id="v-pills-iniciados-tab" data-toggle="pill" href="#v-pills-iniciados" role="tab" aria-controls="v-pills-iniciados" aria-selected="true">Kennel Dog</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content m-3" id="v-pills-tabContent">
                        <div class="tab-pane fade" id="v-pills-iniciados" role="tabpanel" aria-labelledby="v-pills-iniciados-tab">
                            <img src="images/section.jpg" alt="section en construccion" width="85%" style="border-radius: 20px">
                            <h4 class="text-center mt-4"><strong>Lamentamos los incovenientes estamos remodelando....</strong></h4>
                        </div>

                        <div class="tab-pane fade show active" id="v-pills-terminados" role="tabpanel" aria-labelledby="v-pills-terminados-tab">
                            <div class="row">
                                <div class="card col-md-4 mt-3" style="width: 40 rem; border: 0ch">
                                    <h4 class="text-center">Feduro Milla-8</h4>
                                    <div id="" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="images/sliFeduro.jpg" class="d-block w-100" alt="Feduro Milla-8" height="200">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="images/sli2Feduro.jpg" class="d-block w-100" alt="Feduro Milla-8" height="200">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="images/sli3Feduro.jpg" class="d-block w-100" alt="feduro Milla-8" height="200">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5><strong>Descripciòn:</strong></h5>
                                        <p class="text-justify">Construcción de obras civiles, húmedas, electricas, plomeria y acabados de bodega de almacenamiento y operaciones logísticas en Milla-8. Bodega con un área de 24.000 m2 y una altura de 14 mts. El proyecto cuenta con un edificio comercial, estacionamientos y áreas de parqueaderos por 180.000 m2.</p>
                                    </div>
                                </div>
                                <div class="card col-md-4 mt-3" style="width: 40 rem; border: 0ch">
                                    <h4 class="text-center">Felipe motta</h4>
                                    <div id="" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="images/sliFMotta.jpg" class="d-block w-100" alt="Feduro Milla-8" height="200">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="images/sliFMotta2.jpg" class="d-block w-100" alt="Feduro Milla-8" height="200">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5><strong>Descripciòn:</strong></h5>
                                        <p class="text-justify">El nuevo Centro de Distribución principal cuenta con 18400 m2 y está ubicado en Tocumen Commercial Park, en la ciudad de Panamá.</p>
                                        <p class="text-justify"> Dentro del desarrollo de la construción se logro participar en sus diferentes etapas, el acondicionamiento de los espacios e instalación de cielo raso modulables.</p>
                                    </div>
                                </div>
                                <div class="card col-md-4 mt-3" style="width: 40 rem; border: 0ch">
                                    <h4 class="text-center">Panafoto</h4>
                                    <div id="" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="images/panafoto.jpg" class="d-block w-100" alt="Feduro Milla-8" height="200">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="images/sliPanafoto.jpg" class="d-block w-100" alt="Feduro Milla-8" height="200">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5><strong>Descripciòn:</strong></h5>
                                        <p class="card-text text-justify">Inspiramos confianza a nuestros clientes a través de la retroalimentación constante. Captamos ideas y las transformamos en proyectos viables. Damos un valor agregado a cada idea con lo que hacemos
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    <!--SECTION CONTACT OFERTA-->
        <div class="">
                <div class="text-center">
                    <img class="p-3" src="images/logo.png" width="70%" style="border-radius:70px ">
                    <h2 class="mt-5"><strong>NUESTRA OFERTA</strong></h2>
                    <p>Contamos con el equipo humano mas cualificado y la maquinaria necesaria para abarcar todos los aspectos que refieren a una obra de construcción, además de una amplia trayectoria que nos avala y nos posiciona como una de las empresas mas serias del sector.</p>
                </div>
                <div class="text-center">
                    <a class="btn btn-dark" style="font-size: 20px" href="contact">CONTACTANOS PARA MAS INFORMACION</a>
                </div>
            </div>
    </section>
    <% include partials/footer.html %>
</body>

</html>