<footer class="text-center">
    <div class="pt-5 pb-5 footer">
        <div class="">
            <div class="row">
                <div class="col-lg-5 col-xs-12 about-company">
                    <h3>Olimpo Kennel</h3>
                    <h6 class="p-3"><strong>Siempre trabajando para mejorar y mantener la raza american pitbull terrier </strong></h6>
                    <p class="pl-4 text-white-50 mt-3" style="text-align: justify">Olimpo Kennel es un criadero de American Pitbull Terrier, la excelencia en la cría y selección de ejemplares para exposiciones caninas es nuestro objetivo primordial, sin dejar a un lado la funcionalidad y carácter típicos del American Pitbull terrier</p>

                </div>
                <div class="col-lg-3 col-xs-12 links text-center ">
                        <img src="images/logo.png" class="rounded-circle " alt="olimpo kennel" width="300" height="200">

                </div>
                <div class="col-lg-4 col-xs-12 location">
                    <h4 class="mt-lg-0 mt-sm-4 mt-3">Location</h4>
                    <p>Panama, AV 1a B Nte, Ph Ana Rosa</p>
                    <p class="mb-0"><i class="fa fa-phone mr-3"></i>(+507) 6718-2139</p>
                    <p><i class="fa fa-envelope mr-3 mb-3"></i>info@hsdf.com</p>
                    <p class="ml-5">
                        <a href="https://www.facebook.com/OlimpoKennelPTY/"><i class="fab fa-facebook-f fa-2x mr-5 text-white"></i></a>
                        <a href="https://instagram.com/delolimpokennel?igshid=1eqszjgfueqna"><i class="fab fa-instagram fa-2x mr-5 text-white"></i></a>

                    </p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col copyright">
                    <p class="mt-4"><strong>Todos los derechos reservados &copy; Autor: Michael Abril &copy;</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--script Boostrap 4--->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>